*{
  box-sizing: border-box;
  box-shadow: 0 0 0 1px red;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}



body{
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}


body{
  background-image: url("public/hero-stack.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Ajout de cette ligne */
  color: white;
}
header{
  width: 100%;
 height: 800px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  padding: 15px 30px;
  background: #0B081C80;
  border-radius: 25px;
}

nav .nav-icon {
  display: flex;
}

nav .navbar-menu{
  width: 400px;
  gap: 32px

}

nav .navbar-menu ul{
  display:flex;
  justify-content: space-between;
  list-style: none;
  
}

nav .navbar-menu ul li{
 padding: 0 24px;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: left;
}



.btn-style{
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  color: black;
}

main{
  width: 60%;
  
  margin: auto;
  text-align: center;

}

main span{
  display: inline-block;
  width: 30%;
  font-size: 10px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  padding: 5px ;
  border-radius: 61.91px;
  border: 1.24px solid #FFFFFF4D;
  margin: 40px 0 10px 0;

}

main h1{
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -0.03em;
  text-align: center;
  
}

main p{
  width: 50%;
font-size: 10px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
color: #ECECECA6;
margin: auto;
}

.main-btns{
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.main-btns :nth-child(2){
 background-color: transparent;
 color: white;
 border: 1px solid white;
}

.dashboard{
width: 100%;
height: 450px;
border-radius: 24px;
background-image: url("../public/dashboard.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
box-shadow: 0px 0px 5px 1px white;
}

.brand-work{
  text-align: center;
  margin-top: 220px;
}

.brand-work p{
  font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
color: #FFFFFFCC;
margin-bottom: 30px;
}

.svg-div{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
}

.features-dashboard{
  display: grid;
  width: 1200px;
  height: 894px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 80px; 
}

.item1 { grid-area: 1 / 1 / 1 / 2; }
.item2 { grid-area: 1 / 2 / 1 / 3; }
.item3 { grid-area: 2 / 1 / 2 / 3; } 